/* Fonts Selected - Google Font Bree Serif & Fortuna Dot*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dosis:wght@200&family=Petit+Formal+Script&family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/fortuna-dot');



/* ---------------------------------------------*/


  
/* Main Body Element*/
* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2E3138;
}
/* Headings within Body */
.title1, .title2, .title3 {
    font-family: 'fortuna dot', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #954D97;
}
.title4 {
    font-size: 30px;
    font-family: 'fortuna dot', sans-serif;
    font-weight: 400;
    color: #954D97;
}
/* Heading Underlines within body */
.line {
    height: 5px;
    width: 100%;
    background-color: #954D97;
}
/* Body Text */
body {
    font-family: 'Bree Serif', serif;
    font-weight:400;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #2E3138;
}
section {
    font-size: 16px;
    font-family: 'bree serif,' serif;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    text-align: left;
    text-decoration: none;
}



/* ---------------------------------------------*/



/* Navigation Bar */
.navigation {
    display: flex;
}
.navigationLink {
    padding-left: 10px;
    background-color: #B393B4;
    padding: 20px 10px;
    color: #551A8B;
}
/* Navigation Bar links - hover */
li a:hover {
    background-color: #551A8B;
    color: white;
    height: 60px;
    text-decoration: none;
  }
/* Navigation Bar - unordered list items*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
/* Navigation Box Styling */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #B393B4;
    padding: 0 30px;
}
/* Stacey Rogers Element in header */
.Stacey { 
    color: #551A8B;
    background-color: #B393B4;
    padding: 20px 0px;
}


/* ---------------------------------------------*/

 /* Stacey Image */

img {
    border-radius: 50px;
    align-items: right;
    max-width: 100%;
    max-height:100%;
}



.contact {
    text-decoration: none;
    color: white;
   
}
.contact :hover {
    color: #B393B4;
    text-decoration: none;
}

aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
}


/* Footer */

footer {
    text-align: center;
}

